html {
	font-family: "Inter",sans-serif;
	font-size: 16px;
	background: #20282B;
	color: #fff;
}
.wrapper {
	max-width: 600px;
	margin: 0 auto;
}
p {
	font-size: .875rem;
	line-height: 1.5;
	font-weight: 300;
}
a {
	text-decoration: none;
	line-height: 1.5;
	display: inline-block;
	font-weight: 300;
}
a:hover {
	text-decoration: underline;
	text-decoration-color: #A4A4A4;
}
h1 {
	font-family: "Lora",sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	margin-top: 48px;
	margin-bottom: 0px;
	margin-left: 0;
	color: #1CBF5A;
}
h2 {
	font-family: "Lora",sans-serif;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.25;
}
h3 {
	font-size: .75rem;
	font-weight: 300;
	color: #A4A4A4;
	margin-top: 5px;
	margin-bottom: 72px;
}
section {
	margin-bottom: 72px;
	line-height: 1.5;
}
.contact-section {
	margin-bottom: 0;
}
.contact-section h2 {
	margin-bottom: 6px;
}
.position {
	color: #A4A4A4;
	font-size: .875rem;
}
.contact {
	color: #A4A4A4;
	font-size: .875rem;
	font-weight: 300;
	margin-bottom: 6px;
	margin-top: 6px;
}
.read-cv {
	color: #fff;
	font-size: .625rem;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 300;
}
@media only screen and (max-width: 579px) {
	.wrapper {
		max-width: 90%;
	}
}